.lineSocials::after {
  content: ' ';
  position: absolute;
  top: calc(100% + 18px) ;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  width: 1.5px;
  height: 300px;
}

.lineEmail::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: calc(100% + 18px);
  transform: translateY(50%);
  background-color: var(--text-color);
  width: 300px;
  height: 1.5px;
}
