.btn {
  transform: translateX(0%) translateY(0%);
  transition: 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: 1px 1px 6px 0px var(--secondary-color), -1px -1px 6px 0px var(--secondary-color);
  transform: translateX(-1px) translateY(0%);
  
  transition: 0.3s ease-in-out;
}

