@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: 255, 255, 255;
  --background-color: 38, 28, 33; /* Primary color */
  --accent-color: rgb(176, 37, 79);
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
