@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: 255, 255, 255;
  --background-color: 38, 28, 33; /* Primary color */
  --secondary-color: rgb(222, 65, 38); /* Primary color */
  --accent-color: rgb(176, 37, 79);
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Typography */
h2 {
  font-size: clamp(2.5rem, 0.714rem + 4.762vw, 5rem);
}

p,
a {
  font-size: clamp(1.125rem, 1.036rem + 0.238vw, 1.25rem);
}
