@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --text-color: 204, 214, 246;
  --background-color: 32, 32, 32; /* Primary color */
  --secondary-color: rgb(222, 65, 38); /* Primary color */
  --accent-color: rgb(176, 37, 79);
  --roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #888888 rgb(var(--background-color));
}

body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Typography */

.roboto {
  font-family: var(--roboto);
}

.gray {
  color: #888888;
}

h1 {
  font-family: var(--roboto);
  font-size: clamp(3rem, 1.071rem + 5.357vw, 6rem); /* 48px - 96px */
  letter-spacing: -4px;
}

h2 {
  font-family: var(--roboto);
  font-size: clamp(2.5rem, 0.714rem + 4.762vw, 5rem); /* 40px - 80px */
  letter-spacing: -3px;
  font-weight: 700;
}

h3 {
  font-family: var(--roboto);
  font-size: clamp(2rem, 0.571rem + 3.81vw, 4rem); /* 32px - 64px */
  letter-spacing: -2px;
}

p,
a {
  font-size: clamp(0.875rem, 0.786rem + 0.238vw, 1rem); /* 14px - 16px */
}
p.roboto,
a.roboto {
  font-size: clamp(1rem, 0.911rem + 0.238vw, 1.125rem); /* 16px - 18px */
}

p.small,
a.small,
li > *,
button {
  font-size: 14px;
}
