.line::after {
  content: " ";
  display: block;
  position: relative;
  top: 0;
  left: 0;

  background-color: var(--text-color);
  width: 300px;
  height: 1px;
  margin-left: 16px;
}


@media (max-width: 768px) {
  .line::after {
    width: 100%; 
  }
}




.navItem {
  padding: 10px 20px;
  position: relative;
  transition: background-color 0.3s ease-in-out;

  &::after {
    content: " ";
    position: absolute;
    background-color: #584d4c;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background-color 0.3s ease-in-out;
  }

  &:hover {
    background-color: #262626;
    color: var(--secondary-color);
  }

  &.active {
    color: var(--secondary-color);
    background-color: #262626;


    &::after {
      background-color: var(--secondary-color);
      transition: background-color 0.3s ease-in-out;
      transform: scaleY(1);
    }
  }
}

// Keyframes for smooth transition between active items
@keyframes slideIn {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

// Apply the animation to the active state
.navItem.active::after {
  animation: slideIn 0.5s ease-in-out forwards;
}



// .linkHover {
//   &:hover {
//     animation: slideInColor 0.5s ease-in-out forwards;
//   }
// }

// @keyframes slideInColor {
//   from {
//     transform: scaleY(0);
//   }
//   to {
//     transform: scaleY(1);
//   }
// }
.linkHover {
  display: inline-block;
  position: relative;
  text-decoration: none;
  
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

