.line::after {
  content: " ";
  display: block;
  position: relative;
  top: 0;
  left: 0;

  background-color: var(--text-color);
  width: 300px;
  height: 1px;
  margin-left: 16px;

}


@media (max-width: 768px) {
  .line::after {
    width: 100%; 
  }
}




.navItem {
  padding: 10px 20px;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    background-color: #584d4c;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  &:hover {
    background-color: #262626;
    color: var(--secondary-color);
  }
  
  &.active {
    color: var(--secondary-color);

    &::after {
      content: " ";
      position: absolute;
      background-color: var(--secondary-color);
      width: 2px;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }

  
}
